* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, sans-serif;
	background: #0f172a;
	color: #ffffff;
}

.header {
	background-color: #282c34;
	min-height: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 28px;
	font-weight: bold;
}

.kanban-board {
}
.kanban-board-information {
	color: white;
}
